# Dados (datasets podem ser pesados demais pro GitHub)
data/

# Ambiente virtual
venv/
.env

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Modelos treinados (podem ser muito pesados)
models/*.pkl
models/*.h5
models/*.pt

# Sistema
.DS_Store
Thumbs.db

# Modelo DistilBERT (muito pesado para o GitHub)
models/distilbert_model/
models/distilbert_tokenizer/